<div class="container-full">
  <div class="header-block">
    <%= link_to ('<i class="fa-solid fa-arrow-left"></i>').html_safe, root_path, { 'class': 'arrow'} %>
    <span>Spendings</span>
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</div>

<h1>Spendings#index</h1>

